In [1]:
def has_33(nums):
    for i in range(0, len(nums) - 1):
        if nums[i] == 3 and nums[i + 1] == 3:
            return True
    return False

In [2]:
has_33([1,3,3])

True

In [3]:
has_33([1,3,1,3])

False

In [4]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [5]:
paper_doll('Hello')

'HHHeeellllllooo'

In [7]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c]:
        return sum([a,b,c]) - 10
    else:
        return 'BUST'

In [8]:
blackjack(5,6,7)

18

In [9]:
blackjack(9,9,9)

'BUST'

In [10]:
blackjack(9,9,11)

19

In [14]:
def summer_69(arr):
    sum = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                sum += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return sum

In [15]:
summer_69([1,3,5])

9

In [16]:
summer_69([4,5,6,7,8,9])

9

In [17]:
summer_69([2,1,6,7,8,9,11])

14